/autom4te.cache/
/aclocal.*
/m4/
/config.*
/configure
**/Makefile
**/Makefile.in
/missing
/INSTALL
/install-sh
/*.tar.gz
/conffiles
**/*~
/*.log
/*.scan
/depcomp
/compile
**/.deps/
/dist
/build
/ar-lib
/libtool
/ltmain.sh
**/*.o
**/*.lo
**/*.la
**/.libs/
